<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/polar?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <mapping resource="com/solutionsDevelopers/Entidades/Recepcion.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Prestamo.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Deducciones.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/DetalleRe.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Devolucion.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Salida.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Despacho.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Can.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Entrega.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Almacen.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Liquidar.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Pagos.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/DetalleAde.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Vacios.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Cliente.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Presenta.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Factura.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/FidePolar.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Empleado.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/ConVa.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Vale.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Concepto.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Cheque.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Utilidad.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Cargo.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/DetalleCon.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Vacaciones.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/CanAjuste.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Ajuste.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Gastos.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Ut.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Sueldo.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Categoria.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Retenciones.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Control.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Financiar.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Manual.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Traslado.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/TipoPago.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Eliminar.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Prestaciones.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/FeNo.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Seguridad.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/UniReIva.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/DevRece.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/DevolucionDes.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Tipo.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/UniRete.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Producto.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/URePro.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Comision.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Nomina.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Ahorro.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Descarga.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Credito.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Empl.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Camion.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Retorno.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/PrecioVa.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Carga.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/UReceCa.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/ProCom.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Proveedor.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/Cancel.hbm.xml"/>
    <mapping resource="com/solutionsDevelopers/Entidades/EntregaAhorro.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
